{% load prototype_tags %}

<html>
	<head>
		<title>Lakatos</title>
	</head>
	<body>
		<h1>Welcome to Lakatos!</h1>
		{% if thread_list %}
		<h2>View a thread:</h2>
		<ul>
			{% for thread in thread_list %}
			<li><a href="/prototype/thread/{{ thread.title }}/">{{ thread.title|clean }}</a></li>
			{% endfor %}
		</ul>
		{% else %}
		<p>No threads available</p>
		{% endif %}
		<h2>Create a thread:</h2>
		<form action="/prototype/create/" method="post">
			{% csrf_token %}
			<input type="text" name="new_thread_name">
			<input type="submit" value="Create" />
		</form>
		{% if thread_exists %} <!-- This seems like the sort of thing that can be replaced by Ajax later -->

		{{ thread_exists }}

		{% endif %}
	</body>
</html>